h3.text-center {{title}}
form
	.row
		.form-group
			label(for="InputName") Имя
			input.form-control(type="text" id="InputName" name="InputName" placeholder="Имя контакта")
	.row
		.form-group
			label(for="InputLastName") Имя
			input.form-control(type="text" id="InputLastName" name="InputLastName" placeholder="Фамилия контакта")
	.row
		b Контактная информация
		.input-group.contact__input
			.input-group-addon
				i.glyphicon.glyphicon-envelope
			input.form-control(type="text" id="InputMail" placeholder="example@gmail.com")
		.input-group.contact__input
			.input-group-addon
				i.glyphicon.glyphicon-phone
			input.form-control(type="text" id="InputPhone" placeholder="+7 978 657 75 64")
	button.btn.btn-success(type="submit") Сохранить
	button.btn.btn-warning(type="submit") Отменить
