h3.text-center {{title}}
a.btn.btn-default(href="#/new" role="button") Добавить
i.page__icon.fa.fa-list.fa-2x(ng-class="{active: table}" ng-click="table = true")
i.page__icon.fa.fa-th.fa-2x(ng-class="{active: !table}" ng-click="table = false")
.page__content(ng-show="table")
	table.table.table-bordered.table-hover
		thead
			tr
				th #
				th Имя
				th Фамилия
				th Телефон
				th e-mail
		tbody
			tr(ng-repeat="user in contacts" ng-click="goUser(user.$id)")
				td {{$index+1}}
				td {{user.name}}
				td {{user.lastname}}
				td {{user.tel}}
				td {{user.mail}}
.page__content(ng-show="!table")
	.page__content__item(ng-repeat="user in contacts" ng-click="goUser(user.$id)")
				img(ng-src="./uploads/{{user.img}}")
				p {{user.name}} {{user.lastname}}
				p {{user.tel}}